<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>메인 페이지</h2>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <tbody>
            <tr th:each="category : ${categories}">
                <td><a href="item.html" th:href="@{/article(type=${category.type})}" th:text="${category.boardName}">게시판명</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>